table {
	border-collapse: collapse;
}
table, th, td {
  border: 2px solid #79BD9A;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0B486B;
  border: none;
  /*border-radius: 15px;*/
  /*box-shadow: 0 9px #999;*/
}

.button:hover {background-color: #0B486B}

.button:active {
  background-color: #0B486B;
  /*box-shadow: 0 5px #666;*/
  transform: translateY(4px);
}

.button_n {width: 100%;}

.input {width: 90%;}

/*
------Color Code------
#CFF09E
#A8DBA8
#79BD9A
#3B8686
#0B486B
----------------------
*/